.modal, .modal-active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50vh;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    visibility: hidden;
    z-index: 100;
}

.modal-active {
    opacity: 1;
    visibility: visible;
    height: 100vh;
}

.modal__content {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto, sans-serif;
    color: var(--content-text);
}

.modal__body {
    min-height: 250px;
    max-width: 530px;
    width: 100%;
    background-color: var(--content-bg);
    display: flex;
    position: relative;
    padding: 30px;
    flex-direction: column;
    border-radius: 10px;
}

.modal__title {
    margin: 15px auto;
}

.close__modal {
    position: absolute;
    right: 4px;
    top: 4px;
    width: 26px;
    height: 26px;
    cursor: pointer;
}

.close__modal::before,
.close__modal::after {
    position: absolute;
    left: 10px;
    content: " ";
    height: 26px;
    width: 2px;
    background-color: var(--content-text);
}

.close__modal::before {
    transform: rotate(45deg);
}

.close__modal::after {
    transform: rotate(-45deg);   
}

.input-block__wrapper{
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.input-block__wrapper input {
    font-size: 20px;
    color: var(--content-text);
    border: none;
    padding: 8px;
    background-color: transparent;
    border-bottom: 1px solid var(--content-text);
    outline: none;
    margin-bottom: 0.6em;
}

.registration-form {
    text-align: right;
}

.error__text {
    color: red;
}