.cell__grade {
    padding: 0;
}
.grade__wrapper{
    display: flex;
    position: relative;
    align-items: center;
    max-width: 90%;
    font-size: 10px;
    box-shadow: inset 2px 2px 2px rgb(0 0 0 / 10%);
    border-radius: 4px;
    padding: 5px;
    background-color: white;
    cursor: pointer;
    width: 90px;
}

.input__grade {
    border: none;
    max-width: 50%;
    outline: none;
}

.apply__icon, .cancel__icon {
    position: absolute;
    width: 25px;
    height: 25px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: contain;
} 

.apply__icon {
    right: 40px;
    background-image: url('./../../assets/svg/apply.svg');
}

.cancel__icon {
    right: 5px;
    background-image: url('./../../assets/svg/delete.svg');
}