* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root[data-theme="light"] {
  --bg-header: white;
  --color-text: black;
}

:root[data-theme="dark"] {
  --bg-header: #2b3e51;
  --color-text: white;
}
