* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto, Helvetica, Arial, sans-serif;
}

:root[data-theme="light"] {
  --bg-header: white;
  --color-text: black;
  --color-setting-btn: #2b3e51;
  --option-bg: #2b3e51;
  --option-text: white;
}

:root[data-theme="dark"] {
  --bg-header: #394a4d;
  --color-text: white;
  --color-setting-btn: white;
  --option-bg: rgb(154, 237, 248);
  --option-text: black;
}
