* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root[data-theme="light"] {
  --bg-header: #5da4a4;
  --color-text: black;
  --color-setting-btn: #28384d;;
  --option-bg: #28384d;;
  --option-text: white;
}

:root[data-theme="dark"] {
  --bg-header: #28384d;
  --color-text: white;
  --color-setting-btn: #5da4a4;
  --option-bg: #f1d760;
  --option-text: black;
}

.btn {
    display: flex;
    gap: 15px;
    padding: 8px 16px;
    margin: 5px;
    cursor: pointer;
    align-items: center;
    text-decoration: none;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    transition: all 0.5s;
    border: 1px solid #28384d;
    font-size: 16px;
}

.btn:hover {
    background-color: rgb(241, 214, 95);
}

.btn:disabled,
button[disabled] {
    border: none;
    background-color: rgb(241, 214, 95);
    cursor: default;
}

a {
    color: inherit;
    text-decoration-color: #f1d760;
    text-decoration-thickness: 2.5px;
}