.pupilsInJournal__table {
    overflow-x: auto;
    scroll-snap-type: x proximity;
    height: auto;
    padding: 10px 0;
    margin-bottom: 20px;
}

.pupilsInJournal__table::-webkit-scrollbar{
    height: 5px;  
}

.pupilsInJournal__table::-webkit-scrollbar-track {
    background: var(--table-body-bg);
    border-radius: 10px;       
}

.pupilsInJournal__table::-webkit-scrollbar-thumb {
    background-color: var(--table-head-bg);
    border-radius: 10px;       
}