.school__info {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 20px auto;
    border-radius: 10px;
    padding: 10px;
    background-color: #f1d760;
    box-shadow: 2px 2px 6px #2b1a1a80;
    max-width: 340px;
}
