.profile__content {
    display: flex;
    gap: 40px;
    align-items: center;
}

.profile__image {
    width: 120px;
    height: 120px;
    background: url('./../../assets/svg/profile.svg') center center / contain no-repeat;
}

.profile__info h3, .profile__info div {
    border-bottom: 1px dotted black;
    padding: 5px 20px;
}