.setting-modal {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 15%;
    max-width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 50px 20px 10px 20px;
    transition: 0.4s linear;
    overflow: auto;
    flex-wrap: wrap;
    left:10%;
    bottom: 10%;
    background-color: rgb(92 92 92 / 80%);
    border-radius: 10px;
    flex-direction: column;
    z-index: 100;
}

.close__modal.close__setting {
    right: 5px;
    top: 5px;
}
