.setting-modal {
    position: fixed;
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 50px 20px 10px 20px;
    background-color: #fff;
    transition: 0.4s linear;
    overflow: auto;
    flex-wrap: wrap;
    left: 0;
    bottom: 60px;
    background-color: rgb(92 92 92 / 80%);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    z-index: 100;
}

.close__modal.close__setting {
    right: 5px;
    top: 5px;
}
