.subjects-tab {
    overflow-x: auto;
    scroll-snap-type: x proximity;
    justify-content: start;
}

.subjects-tab::-webkit-scrollbar{
    height: 5px;  
}

.subjects-tab::-webkit-scrollbar-track {
    background: var(--table-body-bg);
    border-radius: 10px;       
}

.subjects-tab::-webkit-scrollbar-thumb {
    background-color: var(--table-head-bg);
    border-radius: 10px;       
}

.homework__less-button-img {
    width: 30px;
    height: 30px;
    margin: -6px;
    opacity: 0.7;
    background: url(./../../assets/svg/less.svg) center center no-repeat;
}

.homework__more-button-img {
    width: 30px;
    height: 30px;
    margin: -6px;
    opacity: 0.7;
    background: url(./../../assets/svg/more.svg) center center no-repeat;
}