.subjects-tab {
    overflow-x: auto;
    scroll-snap-type: x proximity;
    justify-content: start;
}

.subjects-tab::-webkit-scrollbar{
    width: 4px;  
}

.subjects-tab::-webkit-scrollbar-track {
    background: var(--table-body-bg);
    border-radius: 10px;       
}

.subjects-tab::-webkit-scrollbar-thumb {
    background-color: var(--table-head-bg);
    border-radius: 10px;       
}