.pupilsList__table {
	width: 100%;
	border: none;
	margin-bottom: 20px;
    overflow: scroll;
}

.pupilsList__table table {
	width: 80%;
}
.pupil__item_name,
.teacher__item_name {
    cursor: pointer;
	width: 25%; 
}

.pupil__item_birht {
	width: 15%;
}
table thead th {
	font-weight: bold;
	text-align: left;
	border: none;
	padding: 10px;
	background: var(--table-head-bg);
	font-size: 14px;
}
table thead tr th:first-child {
	border-radius: 8px 0 0 8px;
}
table thead tr th:last-child {
	border-radius: 0 8px 8px 0;
}
table tbody td {
	text-align: left;
	border: none;
	padding: 10px;
	font-size: 14px;
	vertical-align: top;
}
table tbody tr:nth-child(even){
	background: var(--table-body-bg);
}
.pupilsList__table table tbody tr td:first-child  {
	width: 0%;
}
table tbody tr td:first-child {
	border-radius: 8px 0 0 8px;
}
table tbody tr td:last-child {
	border-radius: 0 8px 8px 0;
	width: 90px;
}
.cell__homework {
	justify-content: space-between;
	cursor: pointer;
	position: relative;
}
.cell__grade {
    padding: 0;
    position: relative;
}
.cell__homework-active {
	padding: 0;
}
.cell__homework span {
	margin: 10px;
}
