.subject_grade {
    display: flex;
}

.subject_grade:nth-child(even){
	background: #f3f3f3;
}

.currentGrades__table {
    overflow-x: auto;
    scroll-snap-type: x proximity;
}

.currentGrades__table::-webkit-scrollbar{
    width: 4px;  
}

.currentGrades__table::-webkit-scrollbar-track {
    background: var(--table-body-bg);
    border-radius: 10px;       
}

.currentGrades__table::-webkit-scrollbar-thumb {
    background-color: var(--table-head-bg);
    border-radius: 10px;       
}