.pupil__content {
    margin-top: 10px;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.pupil__info h3, .pupil__info div {
    border-bottom: 1px dotted var(--color-text);
    padding: 5px 20px;
}

.pupil__progress {
    display: flex;
    flex-direction: column;
}