.switch {
    width: 70px;
    height: 30px;
    transform: translate(-50%, -50%);
    margin-top: 20px;
}
input {
    display: none;
}
.slider {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;
    background-color: #00243a;
    border-radius: 50px;
    cursor: pointer;
    transition: all 1.4s;
}
.slider:before, .slider:after {
    content: "";
    position: absolute;
    bottom: 5px;
    left: 5px;
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 30px;
    transition: 0.4s;
}

.slider:after {
    background-color: white;
}
.wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 70px;
    height: 30px;
    border-radius: 40px;
    transition: all 1.4s;
}

input:checked + .slider {
    background-color: transparent;
}
input:checked + .slider:before, input:checked + .slider:after {
    transform: translateX(35px);
    background-color: white;
}
input:checked + .slider:after {
    background-color: black;  
}
input:checked ~ .wave {
    display: block;
    background-color: rgb(154, 237, 248);
}
