.sidebar__ul, .sidebar__ul-none {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 10px;
    position: relative;
    width: 300px;
}

.sidebar__ul-none {
    display: none;
}

.sidebar__ul-full {
    padding: 10px;
    width: 100vw;
}

.sidebar__ul-full a {
    text-decoration: none;
    color: inherit;
    width: 100%;
}

.sidebar__li {
    display: flex;
    height: 40px;
    gap: 15px;
    padding: 8px 16px;
    margin-bottom: 5px;
    cursor: pointer;
    align-items: center;
    text-decoration: none;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    transition: all 0.5s;
}

.sidebar__ul a {
    text-decoration: none;
    color: inherit;
    width: 100%;
}

.sidebar__li:hover {
    background-color: hsl(49, 84%, 66%, 30%);
}

.sidebar__li.active {
    background-color: #f1d760;
;
}

.sidebar__li-icon {
    width: 20px;
    height: 20px;
    opacity: 0.7;
}

.icon-main {
    background: url(./../../assets/svg/main.svg) center center no-repeat;
}
.icon-schedule {
    background: url(./../../assets/svg/schedule.svg) center center no-repeat;
}
.icon-diary {
    background: url(./../../assets/svg/diary.svg) center center no-repeat;
}
.icon-class {
    background: url(./../../assets/svg/class.svg) center center no-repeat;
}
.icon-profile {
    background: url(./../../assets/svg/profile.svg) center center no-repeat;
}
.icon-news {
    background: url(./../../assets/svg/news.svg) center center no-repeat;
}
.icon-grades {
    background: url(./../../assets/svg/grades.svg) center center no-repeat;
}
.icon-school {
    background: url(./../../assets/svg/school.svg) center center no-repeat;
}