.sidebar__ul {
    list-style: none;
    padding: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
}

.sidebar__li {
    display: flex;
    gap: 15px;
    padding: 8px 16px;
    margin-top: 5px;
    cursor: pointer;
    align-items: center;
    text-decoration: none;
    width: 200px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    transition: all 0.5s;
}

a {
    text-decoration: none;
    color: inherit;
}

.sidebar__li:hover {
    background-color: hsl(49, 84%, 66%, 30%);
}

.sidebar__li.active {
    background-color: #f1d760;
;
}

.sidebar__li-icon {
    width: 20px;
    height: 20px;
    opacity: 0.7;
}

.icon-main {
    background-image: url(./../../assets/svg/main.svg);
}
.icon-schedule {
    background-image: url(./../../assets/svg/schedule.svg);
}
.icon-diary {
    background-image: url(./../../assets/svg/diary.svg);
}
.icon-class {
    background-image: url(./../../assets/svg/class.svg);
}