.nav-burger {
    width: 32px;
    height: 18px;
    z-index: 3;
    cursor: pointer;
    position: relative;
    margin: 20px 0 10px 10px;
    position: absolute;
    margin: 20px 0 30px 10px;
    top: 0;
}

.nav-burger::before, .nav-burger::after, .nav-burger span {
    position: absolute;
    z-index: 20;
    display: inline-block;
    width: 32px;
    height: 2px;
    background-color: var(--color-text);
    content: "";
    transition: 0.3s;
}

.nav-burger::before {
    right: 0;
    top: 0;
}

.nav-burger span {
    right: 0;
    top: calc(50% - 1px);
}

.nav-burger::after {
    right: 0;
    bottom: 0;
}

.nav-burger.active-burger::before {
    transform: rotate(-45deg);
    top: 11px;
}
.nav-burger.active-burger span {
    display: none;
}

.nav-burger.active-burger::after {
    transform: rotate(45deg);
    bottom: 5px;
}
