
/* .content-container {
    min-width: 100vw;
    min-height: calc(100vh - 120px);
} */
.app-contain {
    position: relative;
}

.content-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    min-height: calc(100vh - 120px);
    background-color: rgba(0, 0, 0, 0.12);
}

.content-area {
    background-color: var(--content-bg);
    color: var(--content-text);
    transition: all 0.5s;
    border-radius: 4px;
    box-shadow: rgb(0 0 0 / 20%) 0px 2px 1px -1px, rgb(0 0 0 / 14%) 0px 1px 1px 0px, rgb(0 0 0 / 12%) 0px 1px 3px 0px;
    overflow: hidden;
    margin: 10px;
    padding: 10px;
    width: 100%;
    height: 100%;
    min-height: 100%;
}

.content-area-none {
    display: none;
}
