.news__item {
    display: flex;
    margin: 40px auto;
    position: relative;
}

.news__item::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    height: 1px;
    background-color: #28384d;
    opacity: 0.3;
    width: 78%;
    transform: translateX(14%);
}

.news__desc {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 10px;
    width: 70%;
}

.news__text {
    text-align: left;
}

.news__photo {
    width: 30%;
    object-fit: contain;
}

.news__photo-image {
    object-fit: contain;
    width: 100%;
    border-radius: 10px;
}