.cell__homework {
    position: relative;
}

.homeWork__item td:last-child {
    padding-right: 40px;
}

.cell__homework div:last-child {
    background-image: url('./../../assets/png/pen.png');
    width: 20px;
    height: 20px;
    background-size: contain;
	position: absolute;
    right: 0;
    top: 10px;
    opacity: 0.7;
}